Guide2_fichiers_compagnons/workflows_n8n/alert_validate.json
{
  "name": "SOC - alert validate",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wazuh-soar-validate",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.5,
      "position": [
        0,
        0
      ],
      "id": "9008f871-fbd1-4c96-b9b6-1910c1fad4db",
      "name": "Webhook",
      "webhookId": "bbbb2222-cccc-3333-dddd-444455556666"
    },
    {
      "parameters": {
        "jsCode": "const fs=require('fs');\nconst root=$input.first().json||{};\nconst b=root.body||root;\nconst af=b.all_fields||{};\nconst data=af.data||{};\nconst rule=af.rule||{};\nconst agent=af.agent||{};\nconst asrc=data.alerte_source||{};\nlet srcip=String(data.srcip||b.srcip||'').trim();\nlet agent_id=String((agent.id!==undefined?agent.id:'')||b.agent_id||'').trim();\nlet level=Number(rule.level||asrc.level||b.level||0);\nlet desc=String(rule.description||asrc.description||b.desc||'').slice(0,200);\nlet rule_id=String(rule.id||asrc.rule_id||b.rule_id||'').trim();\nlet alert_id=String(af.id||asrc.alert_id||data.id||b.id||'').trim();\nconst isWrap=!!(data&&data.deepseek)||String((rule&&rule.id)||'')==='100100';\nlet ts=isWrap?String(asrc.timestamp||'').trim():String(af.timestamp||data.timestamp||b.timestamp||'').trim();\nconst ipValid=(x)=>/^\\d{1,3}(\\.\\d{1,3}){3}$/.test(x)&&x.split('.').every(o=>+o>=0&&+o<=255);\nconst ALWAYS=['100.73.179.63','100.67.35.26'];\nconst TS=['100.101.128.76','100.101.80.37'];\nconst inLAN=(x)=>x.startsWith('192.168.0.');\nif(level<10||!srcip||!ipValid(srcip))return [];\nif(ALWAYS.includes(srcip)||inLAN(srcip)||TS.includes(srcip))return [];\nif(!['001','002'].includes(agent_id))return [];\nconst f='/home/node/.n8n/soar_seen_'+srcip.replace(/\\./g,'_');\ntry{const t=parseInt(String(fs.readFileSync(f,'utf8')).trim(),10);if(Date.now()-t<300000)return [];}catch(e){}\ntry{fs.writeFileSync(f,String(Date.now()));}catch(e){}\ntry{ fs.appendFileSync('/home/node/.n8n/soar_validations.jsonl', JSON.stringify({type:'request',exec:(($execution&&$execution.id)||''),ip:srcip,agent:agent_id,level,rule:(rule_id+' '+desc).trim(),ts:new Date().toISOString()})+'\\n'); }catch(e){}\nreturn [{json:{srcip,agent_id,level,desc,rule_id,ts,alert_id}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ],
      "id": "96b6d651-0893-4502-9f26-8371d47f75c3",
      "name": "Filter"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:5599/ask",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Auth",
              "value": "<TOKEN_A_CONFIGURER>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({srcip:$('Filter').first().json.srcip,agent_id:$('Filter').first().json.agent_id,level:$('Filter').first().json.level,rule_id:$('Filter').first().json.rule_id,desc:$('Filter').first().json.desc,ts:$('Filter').first().json.ts,alert_id:$('Filter').first().json.alert_id,approve_url:$execution.resumeUrl+'&approved=true',refuse_url:$execution.resumeUrl+'&approved=false'}) }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        0
      ],
      "id": "fcfec802-7a71-4f88-89b4-94e5e81861a2",
      "name": "AskBot"
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "GET",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 2,
      "position": [
        600,
        0
      ],
      "id": "f6c4e5e9-5f0b-424f-a3f8-60ed1238ff27",
      "name": "Wait",
      "webhookId": "cccc3333-dddd-4444-eeee-555566667777"
    },
    {
      "parameters": {
        "jsCode": "const j=$input.first().json||{};\nconst q=j.query||j.body||j||{};\nlet v=(q.approved!==undefined)?q.approved:j.approved;\nconst approved=String(v).toLowerCase()==='true';\ntry{ const ff=$('Filter').first().json||{}; require('fs').appendFileSync('/home/node/.n8n/soar_validations.jsonl', JSON.stringify({type:'decision',exec:(($execution&&$execution.id)||''),ip:ff.srcip,result:approved?'approved':'refused',ts:new Date().toISOString()})+'\\n'); }catch(e){}\nreturn [{json:{approved}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "0da1dbb1-4f78-41dd-b9a1-c529f5212638",
      "name": "ReadApproval"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "appr",
              "leftValue": "={{ $json.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        0
      ],
      "id": "5224a12f-042b-4d93-9f89-5becb525a15e",
      "name": "Approved?"
    },
    {
      "parameters": {
        "jsCode": "const f=$('Filter').first().json;\nreturn [{json:{command:'ban', ip:f.srcip, agent_id:f.agent_id, duration_seconds:0}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -80
      ],
      "id": "e5aad3b7-d7d6-4415-8bd5-fa13bb1fadec",
      "name": "Prep ban"
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "soc0subaction01",
          "mode": "id",
          "cachedResultName": "SOC tool - action"
        },
        "mode": "once",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1400,
        -80
      ],
      "id": "eedc296d-e4f9-4c2b-99fc-b4addef3e509",
      "name": "Ban"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "AskBot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AskBot": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "ReadApproval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReadApproval": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Prep ban",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prep ban": {
      "main": [
        [
          {
            "node": "Ban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}