Guide2_fichiers_compagnons/workflows_n8n/my_workflow_2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wazuh",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -208,
        16
      ],
      "id": "9074500d-abfa-462e-90fa-4318a3ec3595",
      "name": "Webhook",
      "webhookId": "e2209316-ebae-4198-ab03-98ba1e94dac5"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "",
        "embeds": {
          "values": [
            {
              "inputMethod": "json",
              "json": "={{ $json.embedJson }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        352,
        16
      ],
      "id": "5e849f3a-3469-4162-8bdb-294cb4471f80",
      "name": "Discord",
      "webhookId": "e1a31051-28ee-4da6-8e16-da4134293ad1",
      "credentials": {
        "discordWebhookApi": {
          "id": "YejqxYrmT0wqZzgH",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const out = [];\nfor (const item of $input.all()) {\n  const b = (item.json && item.json.body) || {};\n  const af = b.all_fields || {};\n  const data = af.data || {};\n  if (!data.deepseek) continue;  // DEDUP : ne poster QUE l'alerte enrichie IA (la brute est un doublon)\n  const ds = data.deepseek || {};\n  const src = data.alerte_source || {};\n  if (!src.rule_id) continue;   // pas de carte si origine inconnue (anti carte branded deepseek)\n  const rule = af.rule || {};\n  const agent = af.agent || {};\n  const level = Number(src.level || rule.level || 0);\n  if (level < 8) continue;   // SEUIL #alertes : niveau d'origine (alerte_source.level) >= 8\n  const rid = src.rule_id || rule.id || b.rule_id || 'N/A';\n  const desc = src.description || rule.description || b.title || 'Alerte';\n  const ag = src.agent || agent.name || 'N/A';\n  const srcip = data.srcip || '';\n  const crit = ds.criticite || '';\n  const resume = ds.resume || '';\n  const mitre = ds.mitre || '';\n  const reco = ds.recommandation || '';\n  const ts = String(src.timestamp || '').trim();   // déclenchement = origine (alerte_source) UNIQUEMENT, jamais la ré-injection IA\n  const fmtTs = (t)=>{ try{ const d=new Date(t); if(isNaN(d.getTime())) return String(t||'—'); return d.toLocaleString('fr-FR',{timeZone:'Europe/Paris',day:'2-digit',month:'2-digit',year:'numeric',hour:'2-digit',minute:'2-digit',second:'2-digit'})+' (Paris)'; }catch(e){ return String(t||'—'); } };\n  // couleur par niveau\n  const color = level>=12 ? 15158332 : level>=10 ? 15105570 : level>=8 ? 16763904 : 3447003;\n  const sev = level>=12 ? 'CRITIQUE' : level>=10 ? 'ELEVE' : level>=8 ? 'MOYEN' : 'INFO';\n  const cut = (v,n)=>{ v = (v==null||v==='') ? '—' : String(v); return v.length>(n||1024) ? v.slice(0,(n||1024)-1)+'…' : v; };\n  const WZ_BASE='https://100.73.179.63';\n  const wzLink=(k,v)=>{ if(v==null||v==='')return ''; v=String(v); const g=\"(filters:!(('$state':(store:globalState),meta:(alias:!n,disabled:!f,index:'wazuh-alerts-*',key:\"+k+\",negate:!f,params:(query:'\"+v+\"'),type:phrase),query:(match_phrase:(\"+k+\":'\"+v+\"')))),time:(from:'now-1y',to:'now'))\"; return WZ_BASE+\"/app/threat-hunting#/overview?tab=general&tabView=events&_g=\"+encodeURIComponent(g).replace(/[!'()*]/g,c=>'%'+c.charCodeAt(0).toString(16).toUpperCase()); };\n  const wzUrl=(function(){ const id=src.alert_id||''; if(!id) return ''; let from='now-1y',to='now'; const ep=parseInt(String(id).split('.')[0],10); if(!isNaN(ep)){ from=new Date((ep-21600)*1000).toISOString(); to=new Date((ep+21600)*1000).toISOString(); } const g=\"(filters:!(('$state':(store:globalState),meta:(alias:!n,disabled:!f,index:'wazuh-alerts-*',key:id,negate:!f,params:(query:'\"+id+\"'),type:phrase),query:(match_phrase:(id:'\"+id+\"')))),time:(from:'\"+from+\"',to:'\"+to+\"'))\"; return WZ_BASE+\"/app/threat-hunting#/overview?tab=general&tabView=events&_g=\"+encodeURIComponent(g).replace(/[!'()*]/g,function(c){return '%'+c.charCodeAt(0).toString(16).toUpperCase();}); })();\n  const fi = data.fileintel || null;\n  const ii = data.ipintel || null;\n  const fields = [\n    { name: '🖥️ Agent', value: (wzLink('agent.name',ag)?('['+cut(ag,200)+']('+wzLink('agent.name',ag)+')'):cut(ag,256)), inline: true },\n  ];\n  if (!fi && srcip) fields.push({ name: '🌐 IP source', value: (wzLink('data.srcip',srcip)?('['+srcip+']('+wzLink('data.srcip',srcip)+')'):('`'+srcip+'`')), inline: true });\n  fields.push({ name: '🔢 Règle', value: (wzLink('rule.id',rid) ? ('['+cut(String(rid),200)+']('+wzLink('rule.id',rid)+')') : cut(String(rid),256)), inline: true });\n  if (fi || ii) fields.push({ name: '🔢 Niveau', value: (wzLink('rule.level',level)?('['+level+' · '+sev+']('+wzLink('rule.level',level)+')'):(level+' · '+sev)), inline: true });\n  fields.push({ name: '🕒 Déclenchement', value: ts ? fmtTs(ts) : '—', inline: true });\n  if (fi) fields.push({ name: '📄 Fichier', value: cut(fi.file,512), inline: false });\n  if (crit)   fields.push({ name: '🎯 Criticité IA', value: cut(crit,256), inline: true });\n  if (resume) fields.push({ name: '📝 Résumé IA', value: cut(resume) });\n  if (mitre)  fields.push({ name: '🧬 MITRE ATT&CK', value: cut(mitre) });\n  if (reco)   fields.push({ name: '💡 Recommandation', value: cut(reco) });\n  if (fi) {\n    const vt = fi.vt || {}; const ha = fi.ha || {}; const otx = fi.otx || {}; const u = fi.urls || {};\n    fields.push({ name: '🦠 VirusTotal', value: (vt.positives!=null ? (vt.positives+'/'+vt.total+' moteurs') : '—'), inline: true });\n    fields.push({ name: '🧪 Hybrid Analysis', value: (ha.score!=null ? (ha.score+'/100'+(ha.verdict?(' ('+ha.verdict+')'):'')) : (ha.verdict || '—')), inline: true });\n    fields.push({ name: '🌐 AlienVault OTX', value: (otx.file_score!=null ? (otx.file_score+'/10'+((+otx.file_score)>0?' ⚠️':'')) : '—'), inline: true });\n    const links = [];\n    if (u.vt) links.push('[🦠 VirusTotal]('+u.vt+')');\n    if (u.ha) links.push('[🧪 Hybrid Analysis]('+u.ha+')');\n    if (u.otx) links.push('[🌐 AlienVault OTX]('+u.otx+')');\n    if (links.length) fields.push({ name: '📊 Rapports', value: links.join('   ·   '), inline: false });\n  } else if (ii) {\n    const vt = ii.vt || {}; const otx = ii.otx || {}; const u = ii.urls || {};\n    fields.push({ name: '🦠 VirusTotal', value: (vt.positives!=null ? (vt.positives+'/'+vt.total+' moteurs'+((+vt.positives)>0?' ⚠️':'')) : '—'), inline: true });\n    fields.push({ name: '🌐 AlienVault OTX', value: (otx.pulses!=null ? (otx.pulses+' pulses'+((+otx.pulses)>0?' ⚠️':'')) : '—'), inline: true });\n    const links = [];\n    if (u.vt) links.push('[🦠 VirusTotal]('+u.vt+')');\n    if (u.otx) links.push('[🌐 AlienVault OTX]('+u.otx+')');\n    if (u.shodan) links.push('[🛰️ Shodan]('+u.shodan+')');\n    if (links.length) fields.push({ name: '📊 Rapports', value: links.join('   ·   '), inline: false });\n  }\n  const embed = {\n    title: `🚨 ${desc}`.slice(0,256),\n    url: wzUrl || undefined,\n    description: `**Niveau ${level}** · ${sev}`,\n    color,\n    fields,\n    footer: { text: `Wazuh SOC · règle ${rid} · id ${src.alert_id || '—'}` },\n    timestamp: ts || undefined,\n  };\n  out.push({ json: { embedJson: JSON.stringify(embed) } });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        32
      ],
      "id": "172893cb-66b4-44f7-9fc3-9bc0d01af479",
      "name": "Format"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "active": true
}