Guide2_fichiers_compagnons/workflows_n8n/tool_vt_lookup.json
{
  "name": "SOC tool - vt_lookup",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "ca3153f0-e75d-4b33-bcbf-b4eca3c8b0a2",
      "name": "Input"
    },
    {
      "parameters": {
        "jsCode": "const inp=$input.first().json||{};\nfunction fromStr(s){s=String(s).trim();if(s.startsWith('{')){try{return JSON.parse(s);}catch(e){}}return {indicator:s};}\nlet raw=(inp.query!==undefined)?inp.query:inp; let a={};\nif(typeof raw==='string'){a=fromStr(raw);}\nelse if(raw&&typeof raw==='object'){\n  if(raw.indicator!==undefined||raw.ip!==undefined||raw.hash!==undefined||raw.domain!==undefined||raw.type!==undefined){a=raw;}\n  else{const f=Object.values(raw)[0]; a=(typeof f==='string')?fromStr(f):(f&&typeof f==='object'?f:raw);}\n}\nlet ind=String(a.indicator||a.ip||a.hash||a.domain||a.value||'').trim();\nlet typ=String(a.type||'').toLowerCase().trim();\n// auto-detection si type absent\nif(!typ){\n  if(/^\\d{1,3}(\\.\\d{1,3}){3}$/.test(ind))typ='ip';\n  else if(/^[a-fA-F0-9]{64}$|^[a-fA-F0-9]{40}$|^[a-fA-F0-9]{32}$/.test(ind))typ='hash';\n  else typ='domain';\n}\nconst epmap={ip:'ip_addresses',hash:'files',domain:'domains',file:'files',url:'urls'};\nconst endpoint=epmap[typ]||'domains';\nreturn [{json:{endpoint, indicator:ind, type:typ}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ],
      "id": "1da51b55-d657-4cb9-ba1b-8978679f6d66",
      "name": "Parse"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://www.virustotal.com/api/v3/' + $json.endpoint + '/' + encodeURIComponent($json.indicator) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 12000,
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        0
      ],
      "id": "b4438112-e4cf-471b-b791-554b9b07580b",
      "name": "VT",
      "credentials": {
        "httpHeaderAuth": {
          "id": "b3e8c2f0aa14d6e9",
          "name": "VirusTotal SOC"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r=$input.first().json||{};\nconst code=(r.statusCode!==undefined)?r.statusCode:200;\nconst body=(r.body!==undefined)?r.body:r;\nconst ind=$('Parse').first().json.indicator;\nconst typ=$('Parse').first().json.type;\nif(code===429)return [{json:{indicator:ind,error:'Quota VirusTotal depasse (HTTP 429). Reessaie plus tard.'}}];\nif(code===404)return [{json:{indicator:ind,found:false,msg:'Indicateur inconnu de VirusTotal (404).'}}];\nif(code>=400)return [{json:{indicator:ind,error:'VirusTotal HTTP '+code}}];\nconst at=(body&&body.data&&body.data.attributes)||{};\nconst st=at.last_analysis_stats||{};\nconst total=(st.malicious||0)+(st.suspicious||0)+(st.harmless||0)+(st.undetected||0)+(st.timeout||0);\nreturn [{json:{indicator:ind, type:typ, malicious:st.malicious||0, suspicious:st.suspicious||0,\n  harmless:st.harmless||0, undetected:st.undetected||0, total_engines:total,\n  reputation:at.reputation, as_owner:at.as_owner, country:at.country,\n  verdict:((st.malicious||0)>0?'MALVEILLANT':((st.suspicious||0)>0?'SUSPECT':'propre'))}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        0
      ],
      "id": "758d8e0e-3d6e-4c5e-a537-832eb3b55af1",
      "name": "Compact"
    }
  ],
  "connections": {
    "Input": {
      "main": [
        [
          {
            "node": "Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse": {
      "main": [
        [
          {
            "node": "VT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VT": {
      "main": [
        [
          {
            "node": "Compact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}