Guide2_fichiers_compagnons/workflows_n8n/tool_search_alerts.json
{
  "name": "SOC tool - search_alerts",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "25266590-2d0b-49b2-a829-0979f15c0163",
      "name": "Input"
    },
    {
      "parameters": {
        "jsCode": "const inp = $input.first().json || {};\nfunction fromStr(s){\n  s = String(s).trim();\n  if (s.startsWith('{')) { try { return JSON.parse(s); } catch(e) {} }\n  const m = s.match(/^q=([\\s\\S]*?)(?:&size=(\\d+))?$/);     // format query-string q=...&size=n\n  if (m) { const o={q:m[1]}; if(m[2]) o.size=m[2]; return o; }\n  return { q: s };\n}\nlet raw = (inp.query !== undefined) ? inp.query : inp;\nlet args = {};\nif (typeof raw === 'string') { args = fromStr(raw); }\nelse if (raw && typeof raw === 'object') {\n  if (raw.q !== undefined || raw.size !== undefined) { args = raw; }\n  else {                                                  // wrapper {some_input: \"...\"}\n    const first = Object.values(raw)[0];\n    args = (typeof first === 'string') ? fromStr(first) : (first && typeof first==='object' ? first : raw);\n  }\n}\nlet q = args.q || args.query || '*';\ntry { q = decodeURIComponent(q); } catch(e) {}\n// Rattrapage erreurs LLM sur recherche par identifiant d'alerte :\nq = String(q).replace(/_id\\s*:/gi, 'id:');                                  // _id (interne ES) -> id (champ Wazuh)\n{ const bare = String(q).trim();\n  if (/^\\d{8,}\\.\\d+$/.test(bare)) q = 'id:\"' + bare + '\"';                   // id brut -> id:\"...\"\n  q = q.replace(/(^|\\s|\\()id:\\s*\"?(\\d{8,}\\.\\d+)\\*?\"?/g, '$1id:\"$2\"'); }       // id:VALUE(*) -> id:\"VALUE\"\nq = (!q || String(q).trim()==='' || String(q).trim()==='*') ? '*:*' : q;\nreturn [{ json: { q: q, size: Number(args.size) || 15 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ],
      "id": "ea6353ec-70b3-47d3-83d0-d74b6675583a",
      "name": "Parse"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://172.17.0.1:9200/wazuh-alerts-*/_search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ size: ($json.size || 15), sort: [{ timestamp: { order: 'desc' } }], _source: ['id','timestamp','rule.id','rule.level','rule.description','rule.groups','agent.name','data.srcip','data.srcuser','full_log','syscheck.path','syscheck.sha256_after','syscheck.sha1_after','syscheck.md5_after','data.virustotal'], query: { query_string: { query: '(' + ($json.q || '*:*') + ') AND NOT (rule.id:100100 OR rule.groups:ai_enrichment OR data.integration:deepseek)', default_operator: 'AND' } } }) }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        0
      ],
      "id": "1c9275cd-defb-44df-842b-d972c5e90c38",
      "name": "Indexer search",
      "credentials": {
        "httpBasicAuth": {
          "id": "4c6a75f7126cc151",
          "name": "Wazuh Indexer SOC"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const realResp = $('Indexer search').first().json || {};\nconst enrResp  = $input.first().json || {};\nconst realHits = (realResp.hits && realResp.hits.hits) || [];\nconst enrHits  = (enrResp.hits && enrResp.hits.hits) || [];\nconst emap = {};\nfor (const h of enrHits) {\n  const s = h._source || {}; const a = (s.data||{}).alerte_source || {};\n  const aid = a.alert_id;\n  if (!aid) continue;\n  if (!(aid in emap)) emap[aid] = (s.data||{}).deepseek || null;\n}\nconst alerts = realHits.map(h => {\n  const s = h._source || {}; const rule = s.rule||{}; const data = s.data||{}; const ag = s.agent||{}; const sc = s.syscheck||{};\n  const aid = s.id; const vt = data.virustotal || null; const vs = (vt && vt.source) || {};\n  return { id: aid, ts: s.timestamp, level: Number(rule.level), rule_id: rule.id, desc: rule.description,\n           groups: rule.groups, agent: ag.name, srcip: data.srcip||null, srcuser: data.srcuser||null,\n           file: sc.path || vs.file || null,\n           hash: sc.sha256_after || vs.sha256 || vs.sha1 || sc.sha1_after || vs.md5 || sc.md5_after || null,\n           virustotal: vt ? { malicious: vt.malicious, positives: vt.positives, total: vt.total, permalink: vt.permalink } : null,\n           analyse_ia: (aid && emap[aid]) ? emap[aid] : null };\n});\nconst t = realResp.hits && realResp.hits.total;\nconst total = (t && (t.value != null ? t.value : t)) || 0;\nreturn [{ json: { count: alerts.length, total_matching: total,\n  note: \"total_matching = nb total de VRAIES alertes (DeepSeek exclus). analyse_ia = contexte IA. file/hash/virustotal = pour les alertes de fichier (FIM/VirusTotal).\",\n  alerts } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        0
      ],
      "id": "4bb0c7d4-e1ae-4617-83e2-49a73c7978f6",
      "name": "Compact"
    },
    {
      "parameters": {
        "jsCode": "// Construit la requete d'enrichissement bornee aux alert_id des VRAIES alertes renvoyees.\nconst hits = (($('Indexer search').first().json.hits)||{}).hits || [];\nconst ids = hits.map(h => h._source && h._source.id).filter(Boolean);\nconst q = ids.length\n  ? ('rule.groups:ai_enrichment AND data.alerte_source.alert_id:(' + ids.map(i => '\"'+i+'\"').join(' OR ') + ')')\n  : 'data.alerte_source.alert_id:__none__';\nconst body = JSON.stringify({\n  size: Math.max(ids.length, 1),\n  sort: [{ timestamp: { order: 'desc' } }],\n  _source: ['timestamp','data.alerte_source.alert_id','data.deepseek'],\n  query: { query_string: { query: q, default_operator: 'AND' } }\n});\nreturn [{ json: { enrichBody: body } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        0
      ],
      "id": "e0681785-ce24-43d3-8bf4-7e38ff87a388",
      "name": "BuildEnrich"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://172.17.0.1:9200/wazuh-alerts-*/_search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.enrichBody }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        0
      ],
      "id": "9834b201-14a6-4101-aab4-360f1432b889",
      "name": "Indexer enrich",
      "credentials": {
        "httpBasicAuth": {
          "id": "4c6a75f7126cc151",
          "name": "Wazuh Indexer SOC"
        }
      }
    }
  ],
  "connections": {
    "Input": {
      "main": [
        [
          {
            "node": "Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse": {
      "main": [
        [
          {
            "node": "Indexer search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Indexer search": {
      "main": [
        [
          {
            "node": "BuildEnrich",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuildEnrich": {
      "main": [
        [
          {
            "node": "Indexer enrich",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Indexer enrich": {
      "main": [
        [
          {
            "node": "Compact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}