Guide2_fichiers_compagnons/workflows_n8n/tool_shodan_lookup.json
{
  "name": "SOC tool - shodan_lookup",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "7b047033-c9c7-4850-92ed-8f1ca268bbea",
      "name": "Input"
    },
    {
      "parameters": {
        "jsCode": "const inp=$input.first().json||{};\nconst strs=[]; (function col(x){if(x==null)return;if(typeof x==='string'){strs.push(x);return;}if(typeof x==='object')for(const v of Object.values(x))col(v);})(inp);\nfunction findStructured(x){if(x&&typeof x==='object'&&!Array.isArray(x)){if(x.ip!==undefined||x.indicator!==undefined||x.target!==undefined)return x;for(const v of Object.values(x)){const r=findStructured(v);if(r)return r;}}return null;}\nconst a=findStructured(inp)||{};\nlet ip=String(a.ip||a.indicator||a.target||'').trim();\nif(!ip){const m=strs.join(' ').match(/\\b\\d{1,3}(?:\\.\\d{1,3}){3}\\b/);if(m)ip=m[0];}\nreturn [{json:{ip}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ],
      "id": "a4116d1f-619f-417a-bf16-4047b1e6e713",
      "name": "Parse"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.shodan.io/shodan/host/{{ $json.ip }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        0
      ],
      "id": "80d58f28-cf9a-4d0c-ac0f-c9cb7b6c9d88",
      "name": "Shodan",
      "credentials": {
        "httpQueryAuth": {
          "id": "c4d9e1f2a3b5c7d8",
          "name": "Shodan SOC"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r=$input.first().json||{};\nconst code=(r.statusCode!==undefined)?r.statusCode:200;\nconst body=(r.body!==undefined)?r.body:r;\nconst ip=($('Parse').first().json||{}).ip||'';\nif(code===404)return [{json:{ip,found:false,msg:\"Shodan: aucune information referencee sur cette IP (ni service expose ni scan connu)\"}}];\nif(code===401)return [{json:{ip,error:\"Shodan: cle invalide ou non autorisee (401)\"}}];\nif(code===402||code===429)return [{json:{ip,error:\"Shodan: quota/credits depasses\"}}];\nif(code>=400)return [{json:{ip,error:\"Shodan HTTP \"+code}}];\nconst b=body||{};\nconst vulns=b.vulns?(Array.isArray(b.vulns)?b.vulns:Object.keys(b.vulns)):[];\nreturn [{json:{ip, org:b.org||null, isp:b.isp||null, pays:b.country_name||null, asn:b.asn||null,\n  ports:b.ports||[], hostnames:b.hostnames||[], tags:b.tags||[],\n  vulns:vulns.slice(0,15), nb_vulns:vulns.length, os:b.os||null, last_update:b.last_update||null}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        0
      ],
      "id": "e6adef5f-69fe-40b8-be4d-4ab3b7abe8a9",
      "name": "Compact"
    }
  ],
  "connections": {
    "Input": {
      "main": [
        [
          {
            "node": "Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse": {
      "main": [
        [
          {
            "node": "Shodan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shodan": {
      "main": [
        [
          {
            "node": "Compact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}