Guide2_fichiers_compagnons/workflows_n8n/tool_otx_lookup.json
{
  "name": "SOC tool - otx_lookup",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "95b409cd-5d23-4b91-81dc-6bbed39d7842",
      "name": "Input"
    },
    {
      "parameters": {
        "jsCode": "const inp=$input.first().json||{};\nconst strs=[]; (function col(x){if(x==null)return;if(typeof x==='string'){strs.push(x);return;}if(typeof x==='object')for(const v of Object.values(x))col(v);})(inp);\nfunction fs(x){if(x&&typeof x==='object'&&!Array.isArray(x)){if(x.ip!==undefined||x.indicator!==undefined||x.hash!==undefined||x.target!==undefined)return x;for(const v of Object.values(x)){const r=fs(v);if(r)return r;}}return null;}\nconst a=fs(inp)||{}; let ind=String(a.indicator||a.ip||a.hash||a.target||'').trim(); const all=strs.join(' ');\nif(!ind){const ipm=all.match(/\\b\\d{1,3}(?:\\.\\d{1,3}){3}\\b/);const hm=all.match(/\\b[a-fA-F0-9]{64}\\b|\\b[a-fA-F0-9]{40}\\b|\\b[a-fA-F0-9]{32}\\b/);ind=(ipm&&ipm[0])||(hm&&hm[0])||'';}\nconst isIP=/^\\d{1,3}(\\.\\d{1,3}){3}$/.test(ind); const isHash=/^([a-fA-F0-9]{32}|[a-fA-F0-9]{40}|[a-fA-F0-9]{64})$/.test(ind);\nreturn [{json:{indicator:ind, otype: isIP?'IPv4':(isHash?'file':'')}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ],
      "id": "e6539aab-9f06-4496-a2a7-ba6bc835f8ec",
      "name": "Parse"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://otx.alienvault.com/api/v1/indicators/{{ $json.otype }}/{{ $json.indicator }}/general",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 20000,
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        0
      ],
      "id": "4fe1f5cf-ae68-481c-afd0-db9f192aa3d2",
      "name": "OTX",
      "credentials": {
        "httpHeaderAuth": {
          "id": "alienvaultotx001",
          "name": "AlienVault OTX SOC"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r=$input.first().json||{}; const code=(r.statusCode!==undefined)?r.statusCode:200; const body=(r.body!==undefined)?r.body:r;\nconst p=$('Parse').first().json||{}; const ind=p.indicator||''; const otype=p.otype||'';\nif(!otype)return [{json:{indicator:ind,error:\"OTX: indicateur non reconnu (ni IP ni hash md5/sha1/sha256)\"}}];\nif(code===404)return [{json:{indicator:ind,found:false,msg:\"OTX: aucun enregistrement pour cet indicateur\"}}];\nif(code>=400)return [{json:{indicator:ind,error:\"OTX HTTP \"+code}}];\nconst b=body||{}; const pi=b.pulse_info||{};\nreturn [{json:{indicator:ind, type:(otype==='IPv4'?'ip':'hash'), otx_pulses:(pi.count||0), signale_malveillant:((pi.count||0)>0), pulses_top:(pi.pulses||[]).slice(0,5).map(x=>x.name), reputation:(b.reputation!==undefined?b.reputation:null), pays:b.country_name||null, asn:b.asn||null, false_positive:((b.false_positive||[]).length>0)}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        0
      ],
      "id": "bfab7272-3b39-4135-bfc1-fa3c0a3fb496",
      "name": "Compact"
    }
  ],
  "connections": {
    "Input": {
      "main": [
        [
          {
            "node": "Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse": {
      "main": [
        [
          {
            "node": "OTX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OTX": {
      "main": [
        [
          {
            "node": "Compact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}