Guide2_fichiers_compagnons/workflows_n8n/tool_get_data.json
{
  "name": "SOC tool - get_data",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "6d4c89ba-327e-4cfe-a15e-b607decb86e9",
      "name": "Input"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://172.17.0.1:55000/security/user/authenticate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 9000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "b7805310-39db-4602-9c5d-a189330369e2",
      "name": "Token",
      "credentials": {
        "httpBasicAuth": {
          "id": "a2d7a1a813a8efd7",
          "name": "Wazuh API SOC"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const https=require('https');\nconst out=(m)=>[{json:m}];\nconst err=(m)=>[{json:{error:m}}];\n\n// 1) parse args (unwrap robuste)\nconst inp=$('Input').first().json||{};\nfunction fromStr(s){s=String(s).trim();if(s.startsWith('{')){try{return JSON.parse(s);}catch(e){}}return {};}\nlet raw=(inp.query!==undefined)?inp.query:inp; let a={};\nif(typeof raw==='string'){a=fromStr(raw);}\nelse if(raw&&typeof raw==='object'){\n  if(raw.resource!==undefined||raw.agent_id!==undefined||raw.type!==undefined){a=raw;}\n  else{const f=Object.values(raw)[0]; a=(typeof f==='string')?fromStr(f):(f&&typeof f==='object'?f:raw);}\n}\nconst resource=String(a.resource||a.kind||'').toLowerCase().trim();\nlet agent=String(a.agent_id||a.agent||'').trim();\nlet typ=String(a.type||a.subtype||'').toLowerCase().trim();\nlet limit=Number(a.limit)||0;\nlet status=String(a.status||'').trim();\nif(agent==='1'||/ubuntu.?2|agent_ubuntu2/i.test(agent))agent='001';\nif(agent==='2'||/win/i.test(agent))agent='002';\nif(agent==='0'||/manager/i.test(agent))agent='000';\n\n// 2) mappe resource -> path API\nlet path;\nconst needAgent=()=>{if(!['000','001','002'].includes(agent))throw 'agent_id requis (000 manager, 001 ubuntu2, 002 windows)';};\ntry{\n  if(resource==='agents'){\n    const lim=limit||50;\n    path=`/agents?limit=${lim}&select=id,name,ip,status,os.name,os.platform,version,lastKeepAlive,group`;\n    if(status)path+=`&status=${encodeURIComponent(status)}`;\n  } else if(resource==='inventory'||resource==='syscollector'){\n    needAgent();\n    const allowed=['packages','ports','processes','netiface','netaddr','hardware','os','hotfixes'];\n    if(!typ)typ='packages';\n    if(!allowed.includes(typ))return err(`type inventaire invalide '${typ}'. Autorises: ${allowed.join(', ')}`);\n    const lim=limit||50;\n    path=`/syscollector/${agent}/${typ}?limit=${lim}`;\n  } else if(resource==='fim'||resource==='syscheck'){\n    needAgent(); const lim=limit||30;\n    path=`/syscheck/${agent}?limit=${lim}&sort=-date`;\n  } else if(resource==='sca'){\n    needAgent(); path=`/sca/${agent}`;\n  } else if(resource==='rootcheck'){\n    needAgent(); const lim=limit||30;\n    path=`/rootcheck/${agent}?limit=${lim}&sort=-date`;\n  } else {\n    return err(`resource inconnue '${resource}'. Autorisees: agents, inventory, fim, sca, rootcheck (vulnerabilites via get_vulnerabilities).`);\n  }\n}catch(e){return err(String(e));}\n\n// 3) token\nconst token=(($('Token').first().json||{}).data||{}).token;\nif(!token)return err('token Wazuh introuvable (auth echouee).');\n\n// 4) GET\nfunction rq(opt){return new Promise((res,rej)=>{const r=https.request(opt,x=>{let d='';x.on('data',c=>d+=c);x.on('end',()=>res({code:x.statusCode,body:d}));});r.on('error',rej);r.on('timeout',()=>{r.destroy();rej(new Error('timeout'));});r.end();});}\nlet r;\ntry{r=await rq({host:'172.17.0.1',port:55000,path,method:'GET',rejectUnauthorized:false,timeout:9000,headers:{'Authorization':'Bearer '+token}});}\ncatch(e){return err('GET '+path+' : '+e.message);}\nlet j;try{j=JSON.parse(r.body);}catch(e){return err('reponse non JSON (http '+r.code+')');}\nif(r.code!==200)return err(`http ${r.code}: ${String(r.body).slice(0,160)}`);\nconst items=(j.data&&j.data.affected_items)||[];\nconst total=(j.data&&j.data.total_affected_items)!==undefined?j.data.total_affected_items:items.length;\n\n// 5) compaction par resource (limite la taille)\nfunction pick(o,ks){const r={};for(const k of ks){const v=k.split('.').reduce((x,p)=>x&&x[p],o);if(v!==undefined)r[k]=v;}return r;}\nlet compact=items;\nif(resource==='agents')compact=items.map(i=>pick(i,['id','name','ip','status','version','os.name','lastKeepAlive']));\nelse if(resource==='inventory'&&typ==='packages')compact=items.map(i=>pick(i,['name','version','architecture']));\nelse if(resource==='inventory'&&typ==='ports')compact=items.map(i=>pick(i,['local.port','protocol','process','state']));\nelse if(resource==='inventory'&&typ==='processes')compact=items.map(i=>pick(i,['pid','name','cmd','state']));\nelse if(resource==='inventory'&&typ==='netiface')compact=items.map(i=>pick(i,['name','mac','state']));\nelse if(resource==='fim')compact=items.map(i=>pick(i,['file','date','perm','uname','size']));\nelse if(resource==='rootcheck')compact=items.map(i=>pick(i,['log','date','status']));\nelse if(resource==='sca')compact=items.map(i=>pick(i,['name','policy_id','pass','fail','score']));\n\nreturn out({resource, type: typ||undefined, agent: agent||undefined, total, count: compact.length, items: compact});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "36a0daa0-20bb-4fa0-9db5-fa09fe51d33c",
      "name": "Read"
    }
  ],
  "connections": {
    "Input": {
      "main": [
        [
          {
            "node": "Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token": {
      "main": [
        [
          {
            "node": "Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}